<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>
      Expert Fitness | Home
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="header twelve columns">
          <h1>
            Expert Fitness
          </h1>
        </div>
      </div>

      <div class="row">
        <nav class="twelve columns">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>

            <li>
              <a href="/workout">Routines</a>
            </li>

            <li>
              <a href="/meal">Meals</a>
            </li>

            <li>
              <a href="/plan">Your Plan</a>
            </li>

            <li>
              <a href="/signup">Sign Up/Login</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="row">
        <footer class="twelve columns">
          <p>
            <span class="goodbye">Find us on <a>twitter</a>, <a>facebook</a>!</span>
          </p>

          <p>
            &copy; Expert Fitness
          </p>
        </footer>
      </div>
    </div>
    <script src="jquery.js" type="text/javascript">
    </script>
    <script src="script.js" type="text/javascript">
    </script>
  </body>
</html>
